In [9]:
import pandas as pd
# Read Excel file
data_excel = pd.read_excel('/kolluri.aiml.xlsx')
# Read CSV file
data_csv = pd.read_csv('/kolluri.aiml.csv')
# Read TSV file (Tab-separated values)
data_tsv = pd.read_csv('/kolluri.aiml.txt', sep='\t')

print("Data from Excel:")
print(data_excel)

print("\nData from CSV:")
print(data_csv)

print("\nData from TSV:")
print(data_tsv)

Data from Excel:
           Table 1  Unnamed: 1 Unnamed: 2
0             name        Htno    Surname
1  Jeshwanth kumar  2203A52043          N
2      Siddharatha  2203A52045          N
3         Aniritha  2203A52032          K
4            Navya  2203A52057          T

Data from CSV:
          name        Htno Surname
0    Jeshwanth  2203A52043       N
1  Siddharatha  2203A52045       N
2     Aniritha  2203A52032       K
3        Navya  2203A52057       T

Data from TSV:
          name        Htno Surname  Unnamed: 3  Unnamed: 4  Unnamed: 5
0    Jeshwanth  2203A52043       N         NaN         NaN         NaN
1     Aniritha  2203A52032       K         NaN         NaN         NaN
2  Siddharatha  2203A52045       N         NaN         NaN         NaN
3        Navya  2203A52057       N         NaN         NaN         NaN